<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>driver</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:postgresql://localhost:5432/dbprodtur</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>pwname</param-name>
        <param-value>1234</param-value>
    </context-param>
    <servlet>
        <servlet-name>SRegistrarRecurso</servlet-name>
        <servlet-class>tur.servlet.SRegistrarRecurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SSubirimg</servlet-name>
        <servlet-class>tur.servlet.SSubirimg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarRecurso</servlet-name>
        <servlet-class>tur.servlet.SListarRecurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistrarHotel</servlet-name>
        <servlet-class>tur.servlet.SRegistrarHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarHotel</servlet-name>
        <servlet-class>tur.servlet.SListarHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarRecurso2</servlet-name>
        <servlet-class>tur.servlet.SListarRecurso2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SRegistrarRecurso</servlet-name>
        <url-pattern>/SRegistrarRecurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarRecurso</servlet-name>
        <url-pattern>/SListarRecurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistrarHotel</servlet-name>
        <url-pattern>/SRegistrarHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarHotel</servlet-name>
        <url-pattern>/SListarHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarRecurso2</servlet-name>
        <url-pattern>/SListarRecurso2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
